<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>System Disk Status</title>
</head>
<body>
<center><h1>System Disk Status</h1></center>
    <table>
        <thead bgcolor="#0096FF">
            <th>System</th>
            <th>Drive</th>
            <th>Total Space</th>
            <th>Used Space</th>
            <th>Free Space</th>
            <th>Pct Free</th>
            <th>&nbsp;</th>
            <th>Time</th>
            <th>Days</th>
        </thead>
        <tbody>
        {% for s in systems %}
            <tr bgcolor={{ s.color }}>
            <td>{{ s.sysname }}</td>
            <td>{{ s.drive }}</td>
            <td>{{ s.totalGB }}</td>
            <td>{{ s.usedGB }}</td>
            <td>{{ s.freeGB }}</td>
            <td>{{ s.freepct }}</td>
            <td>
                {{ s.msg.strip() }}
            </td>
            <td>{{ s.timestamp }}</td>
            <td>
                {{ s.days }}&nbsp;
                {% if s.days > 30 %}
                    <a href="/delete/{{ s.key }}">
                        <img src="{{ url_for('static', path='/delete-forever-outline.svg')}}" height="20" width="20"/>
                    </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        <tr bgcolor="#0096FF" height="25"><td colspan="9"> </td></tr>
        </tbody>
    </table><br><br>
    <table>
        <tr bgcolor="#0096FF" ><th>Color</th><th>Description</th></tr>
        <tr bgcolor="#F70D1A"><td>Red</td><td>System drive free space is less than minimum percentage.</td></tr>
        <tr bgcolor="#FFA500"><td>Orange</td><td>System information is more than 2 days old.</td></tr>
        <tr bgcolor="#FFFF00"><td>Yellow</td><td>System information is 2 days old.</td></tr>
        <tr bgcolor="#ABEBC6"><td>Green</td><td>System information is current but displayed in odd row.</td></tr>
        <tr bgcolor="#FFFFFF"><td>White</td><td>System information is current but displayed in even row.</td></tr>
        <tr bgcolor="0096FF" height="25"><td colspan="2"> </td></tr>
    </table><br><br><br>

<style>
    table, th, td {
        border: 1px solid darkgrey;
        border-collapse: collapse;
        align: center;
    }
    table {
        width: 100%;
    }
    h1 {
        color: #000080;
    }
#    tr:nth-child(even)
#    {
#        #background-color: #ffffff;
#    }
#    tr:nth-child(odd)
#    {
#        background-color: #ABEBC6;
#    }
</style>
</body>
</html>